body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

h1 {
    color:#ffffff;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    border-style: solid;
    border-radius: 7px;
    
}

#restart {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
}

.button {
    color: white;
    padding: 5px 5px;
    text-align: center;
}

#t1{
    color:#ffffff;
    font-size: 13px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

#squarespace{
    color:#ffffff;
    font-size: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}
